* {
    margin: 0;
    padding: 0;
    background-color: #eed758;
}

.header_img {
    /* border: 1px solid black; */
}

/* Top Menu Bar*/

.header_img img {
    width: 100vw;
    height: 20vh;
}

.header_menu ul {
    list-style: none;
    border-bottom: 1px solid black;
    justify-content: end;
    display: flex;
    height: 5vh;
    align-items: center;
    box-shadow: 2px -2px 100px red;
}

.header_menu ul li {
    margin: 0 35px;
}

.header_menu ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.header_menu ul li:hover {
    background-color: blueviolet;
}

/* This source code are side bar*/
.main_menu {
    display: inline;
    border: 1px solid black;
    width: 15vw;
    height: 42vh;
    text-align: left;
    background-color: #f7d82c;
}

.main_menu ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}

.main_menu ul li {
    width: 180px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding: 3px;
    background-color: #f7d82c;
    border-bottom: 1px solid maroon;
}
.main_menu ul li:last-child{
    border: none;
}

.main_menu ul li a {
    color: blue;
    text-decoration: none;
}

.sub_menu {
    display: none;
}

.main_menu ul li:hover .sub_menu {
    display: block;
    position: absolute;
    margin-top: -20px;
    margin-left: 200px;
}

.main_menu ul li:hover .sub_menu ul {
    display: block;
    margin: 10px;
}

.fa {
    color: white;
    float: right;
}
iframe{
 float: right;   
 height: 90vh;
 width: 1157px;
 background-color: #a8b8b8;
}